table td.level_0 { padding-left: 2em; }
table td.level_1 { padding-left: 4em; }
table td.level_2 { padding-left: 6em; }
table td.level_3 { padding-left: 8em; }
table td.level_4 { padding-left: 10em; }
table td.level_5 { padding-left: 12em; }

/*
table.list tr._branch td { background-color: #E3E3E3; }
table.list tr._group td { background-color: #E3E3E3; }*/

table.list tr.odd td { background-color: #F3F3F3; }
table.list tr.even td { background-color: #E3E3E3; }
table.list tr.hover td { background-color: #CCCCFF; }
a._edit img { height: 12px; }

#branch_root { background-color: #C3C3C3; }


.helper {
    background-color: #AACCFF;
    border: 1px dashed black;
    font-size: 80%;
    padding: 0.5em;
    padding-left: 30px;
}

.helper.gclone {
    background: #AACCFF url(/images/admin/add.png) no-repeat;
    background-position: 4px 6px;
}

table.list td._branch.hover {
    border: 1px dashed black;
    background-color: #DDDDAA;
}

table.list tbody#branches tr td {
    padding-top: 1px;
    padding-bottom: 1px;
}

#branches_list { width: 60%; }

#groups_container {
    position: fixed;
    top: 117px;
    right: 3%;
    width: 35%;
    overflow: scroll-x;
}

._clone {
  cursor: move;
}

._open { 
  cursor: pointer;
}

._close { 
  cursor: pointer;
}

#loader {
  background-color: white;
  padding: 1em;
  border: 1px solid gray;
  position: fixed;
  top: 49%;
  left: 49%;
}