<h2>Предприятия</h2>

<% columns = 3 %>
<% rows = (Branch.roots.size/columns).round + (Branch.roots.size % columns > 0 ? 1 : 0) %>

<% column=0 %>
<% index=0 %>
<div class="ccol">
<% Branch.roots.each do |branch| %>
<% if (index/rows).round>column %>
<% column = column + 1 %></div><div class="ccol"><% end %>
<div><%= link_to branch.name, branch_path(branch) %></div>
<% index=index + 1 %>
<% end %>
</div>
<br class="clearer"/>
<%= link_to "Все категории..", branches_path %>
