[submodule "vendor/plugins/jrails"]
	path = vendor/plugins/jrails
	url = git://github.com/aaronchi/jrails.git
[submodule "vendor/plugins/shoulda"]
	path = vendor/plugins/shoulda
	url = git://github.com/thoughtbot/shoulda.git
[submodule "vendor/plugins/restful-authentication"]
	path = vendor/plugins/restful-authentication
	url = git://github.com/technoweenie/restful-authentication.git
[submodule "vendor/plugins/role_requirement"]
	path = vendor/plugins/role_requirement
	url = git://github.com/timcharper/role_requirement.git
[submodule "vendor/plugins/acts_as_category"]
	path = vendor/plugins/acts_as_category
	url = git://github.com/funkensturm/acts_as_category.git
