<h1>Тэги</h1>

<table>
  <tr>
    <th>Тэг</th>
  </tr>

<% @tags.each do |tag| %>
  <tr>
    <td><%=h tag.name %></td>
    <td><%= link_to 'Изменить', edit_admin_tag_path(tag) %></td>
    <td><%= link_to 'Удалить', admin_tag_path(tag), :confirm => 'Удалить тэг?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Добавит тэг', new_admin_tag_path %>