<h1>Добавить тэг</h1>

<% form_for([:admin, @tag]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name, 'тэг' %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Создать' %>
  </p>
<% end %>
