%tr{:id => "branch_root", :class => "_branch"}
  %td
  %td     
  %td= icon(:root)
  %td
  %td  

- Branch.each_with_level(@branches) do |branch, level|
  = render :partial => "branch", :object => branch, :locals => { :level => level }
