%h1 Категории

%table.list#branches_list
  %thead
    %th{:width => "%"} Наименование
  %tbody#branches
    = render "branches"

#groups_container
  %table.list
    %thead
      %th{:width => 16}
      %th{:width => "%"} Наименование
      %th{:width => "30"}      
      %th{:width => "30"}      
      %th{:width => "30"}            
    %tbody#groups
      = render "groups"

:javascript
  $(document).ready(function() {
    branches();
  });
