
<h2>Компании (<%= companies.size %>)</h2>
<% if companies.size > 0 %>
<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Tag list</th>
  </tr>

<% for company in companies %>
  <tr>
    <td><%= link_to company.name, company_path(company) %></td>
    <td><%=h company.address %></td>
<!--    <td><%#h company.tag_list %></td> -->
    <td><%= link_to 'Edit', '/admin/companies/edit/' + company.id.to_s %></td>
  </tr>
<% end %>
</table>



	<%#= will_paginate companies %>
<% end %>
