= render :partial => "companies/search_results", :locals => { |
                                                 :categories => @categories, |
                                                 :tags => @tags, |
                                                 :companies => @companies } |
%hr
