<p>
  <b>Тэги:</b>
   <% @tags.each do |t| %>
<%= h t.name %>,
   <% end %>
</p>

<h2>См.также (<%= @nested_tags.size %>)</h2>

<% if @nested_tags.size > 0 %>

<% for t in @nested_tags %>
<%=h t %>, 
<% end %>

	<%#= will_paginate companies %>
<% end %>

<%# render :partial => "companies/list", :locals => { :companies => @companies }%>
