<table class="ttable">
  <thead>
    <th>Target url</th>
    <th>Description</th>
    <th>Job state</th>
    <th>Actions</th>
  </thead>
  <tbody>
    <% [partial_object].flatten.each do |source| %>
      <tr <%= "id='#{dom_id(source.jobs.first)}'" unless source.jobs.empty? %> >
        <%= render :partial => 'admin/sources/source', :object => source %>
      </tr>
      <%= periodically_call_remote(
        :url       => admin_source_path(source),
        :method    => "get",
        :condition => "(job_state_#{dom_id(source.jobs.first)}).match(/^(running|pending|stopping)$/)",
        :interval  => 5) unless source.jobs.empty?
      %>
    <% end %>
  </tbody>
</table>
