<%= render :partial => 'admin/shared/jquery' %>

<%= title "Listing sources", :h2 %>

<% if current_user.has_role?(:admin) && !@new_grabber_modules.empty? %>
  <p>
    <%= link_to 'New source', new_admin_source_path %>
  </p>
<% end %>

<%= render :partial => 'table', :locals => { :partial_object => @sources } %>
