<%= title "New storage", :h2 %>

<% form_for([:admin, @source]) do |f| %>
  <%= f.error_messages %>

  <p>
    Grabber Module: <%= f.select :grabber_module, @new_grabber_modules %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

