<h1>Категории</h1>

<ul>
<% for category in @categories %>
	<%= render_category_with_all_childs(category, lambda { |category| h category.name }, true, true) %>
<% end %>
</ul>

<br />
<br />

<%= link_to 'Добавить категорию', new_admin_category_path %>
