<% Category.roots.each do |category| %>
<ul>
	<li><%= link_to category.name, category_path(category) %>:
		<% if category.children.size > 0 %>
		<ul>
			<% category.children.each do |child| %>
			<li><%= link_to child.name, category_path(child) %></li>
			<% end %>
		</ul>
		<% end %>
	</li>
</ul>
<% end %>

<%= link_to "Все категории..", categories_path %>
