<div id="search">
	
	Номер телефона или слово: <%= text_field "search", :query %> <input type="submit" value="Искать" id="search_button" />
	<%= observe_field "search_query", :url => { :action => :search, :controller => :companies},
																		:frequency => 0.5,
	                                  :update => "search_results", 
	                                  :with => "search",
																		:complete => "$('#search_button').hide();"
	 																	%>
	
	<hr/>
</div>
